/* Start:/local/templates/angelino.travel/assets/css/reviews-block.css?1772441887315*/
.reviews-block {
    margin: 50px 0
}

.reviews-block__title {
    margin-bottom: 12px
}

.reviews-block__details {
    margin-bottom: 28px
}

.reviews-block__items {
    grid-gap: 36px;
    gap: 36px;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

@media (max-width:767px) {
    .reviews-block__items {
        grid-gap: 20px;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr)
    }
}

/* End */


/* Start:/local/templates/angelino.travel/assets/css/review-item.css?17724418871678*/
.review-item {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 32px 22px
}

.review-item__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.review-item__img {
    border-radius: 50%;
    height: 36px;
    margin-right: 20px;
    overflow: hidden;
    width: 36px
}

.review-item__wrap {
    display: flex
}

.review-item__rating {
    margin-bottom: 5px
}

.review-item__rating .rating {
    justify-content: flex-start
}

.review-item__date,
.review-item__name {
    color: var(--color-text-base);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5
}

.review-item__name {
    align-items: center;
    display: flex;
    margin-right: 7px;
    text-decoration: none;
    transition: color .3s
}

.review-item__date {
    color: #8b8b8b
}

.review-item__title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -.36px;
    line-height: 1.2;
    margin-bottom: 14px
}

.review-item__desc {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    font-variant-numeric: lining-nums proportional-nums;
    line-height: 1.8;
    margin-bottom: 17px;
    overflow: hidden
}

.review-item__desc,
.review-item__more {
    color: var(--color-text-base);
    font-family: var(--font-second)
}

.review-item__more {
    cursor: pointer;
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    font-size: 1.4rem;
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 500;
    letter-spacing: -.28px;
    line-height: 1.5;
    text-decoration: none;
    transition: color .3s
}

.review-item__more:hover {
    color: #00aa6c
}

.review-item__icon {
    margin-bottom: -7px;
    margin-right: -6px
}

.review-item__icon img {
    width: 49px
}

.review-item__bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: auto
}

.review-item__footer {
    display: flex;
    justify-content: center;
    margin-top: 50px
}

/* End */
/* /local/templates/angelino.travel/assets/css/reviews-block.css?1772441887315 */
/* /local/templates/angelino.travel/assets/css/review-item.css?17724418871678 */