/* Start:/local/templates/angelino.travel/assets/css/wrapper-slider.css?17724418872234*/
.wrapper-slider {
    margin: 30px 0
}

.wrapper-slider .wrapper-slider__content {
    grid-gap: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.wrapper-slider .wrapper-slider__content .detail-card {
    width: calc(32% - 20px)
}

@media (max-width:991px) {
    .wrapper-slider .wrapper-slider__content .detail-card {
        width: calc(50% - 16px)
    }
}

@media (max-width:640px) {
    .wrapper-slider .wrapper-slider__content .detail-card {
        width: 100%
    }
}

@media (max-width:767px) {
    .wrapper-slider .wrapper-slider__content {
        grid-gap: 16px;
        gap: 16px
    }
}

.wrapper-slider .wrapper-slider__inner.swiper {
    margin: 0 -10px;
    padding: 0 10px 10px
}

.wrapper-slider .wrapper-slider__inner.swiper .detail-card {
    width: 100%
}

@media (max-width:991px) {
    .wrapper-slider .wrapper-slider__inner.swiper {
        padding-bottom: 30px
    }
}

.wrapper-slider .wrapper-slider__inner.swiper .wrapper-slider__content {
    grid-gap: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

@media (max-width:991px) {
    .wrapper-slider .wrapper-slider__inner.swiper .wrapper-slider__content {
        grid-gap: 0;
        gap: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: normal
    }
}

.wrapper-slider.wrapper-slider--double .wrapper-slider__inner.swiper .wrapper-slider__content {
    grid-gap: 10px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr)
}

@media (max-width:991px) {
    .wrapper-slider.wrapper-slider--double .wrapper-slider__inner.swiper .wrapper-slider__content {
        grid-gap: 0;
        gap: 0
    }
}

.wrapper-slider.wrapper-slider--double .wrapper-slider__inner.swiper .wrapper-slider__content .article-holder__img {
    min-height: 217px
}

@media (max-width:1200px) {
    .wrapper-slider.wrapper-slider--double .wrapper-slider__inner.swiper .wrapper-slider__content .article-holder__img {
        min-height: 151px
    }
}

@media (max-width:767px) {
    .wrapper-slider.wrapper-slider--double .wrapper-slider__inner.swiper .wrapper-slider__content .article-holder__img {
        min-height: auto
    }
}

.wrapper-slider.wrapper-slider--double .wrapper-slider__inner.swiper .wrapper-slider__content .img-holder__img {
    min-height: 240px
}

@media (max-width:1200px) {
    .wrapper-slider.wrapper-slider--double .wrapper-slider__inner.swiper .wrapper-slider__content .img-holder__img {
        min-height: 261px
    }
}

@media (max-width:767px) {
    .wrapper-slider.wrapper-slider--double .wrapper-slider__inner.swiper .wrapper-slider__content .img-holder__img {
        min-height: auto
    }
}

/* End */


/* Start:/local/templates/angelino.travel/assets/css/lounge-card.css?17724418871865*/
.lounge-card,
.lounge-card.swiper-slide {
    border-radius: 10px;
    box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    text-decoration: none
}

.lounge-card.swiper-slide:hover .lounge-card__head,
.lounge-card:hover .lounge-card__head {
    color: var(--main-color-first)
}

.lounge-card__hint {
    align-items: center;
    background-color: var(--color-text-base);
    color: var(--color-background);
    display: flex;
    font-feature-settings: "pnum" on, "lnum" on, "salt" on;
    font-size: 1.1rem;
    justify-content: space-between;
    left: 0;
    letter-spacing: 1.32px;
    line-height: 1;
    padding: 6px 14px 7px;
    position: absolute;
    text-transform: uppercase;
    top: 185px;
    width: 100%
}

.lounge-card__hint span {
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
    display: flex
}

.lounge-card__hint span img {
    height: 8px;
    margin-top: -1px;
    width: 6px
}

.lounge-card__img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    height: 210px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.lounge-card__body {
    background-color: var(--color-background);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%
}

.lounge-card__head {
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    color: var(--color-text-base);
    display: flex;
    font-feature-settings: "pnum" on, "lnum" on, "salt" on;
    font-size: 1.9rem;
    font-weight: 600;
    height: 100%;
    line-height: 1.05;
    padding: 19px 25px 15px;
    transition: color .3s
}

.lounge-card__bottom {
    grid-gap: 10px;
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 14px 22px 12px
}

.lounge-card__price,
.lounge-card__text {
    font-family: var(--font-second);
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    font-variant-numeric: lining-nums proportional-nums;
    letter-spacing: -.36px
}

.lounge-card__price {
    color: var(--color-text-base);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5
}

.lounge-card__text {
    color: #757575;
    font-weight: 500
}

/* End */


/* Start:/local/templates/angelino.travel/assets/css/slider-pagination.css?1772441887957*/
.slider-pagination.swiper-pagination {
    grid-gap: 5px;
    gap: 5px;
    bottom: 0 !important;
    display: none;
    justify-content: center
}

.slider-pagination.swiper-pagination .swiper-pagination-bullet {
    background-color: #d9d9d9;
    height: 6px;
    margin: 0 !important;
    opacity: 1;
    width: 6px
}

.slider-pagination.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-text-second)
}

.slider-arrow.swiper-button-next,
.slider-arrow.swiper-button-prev {
    right: 23px;
    top: 47%
}

@media (max-width:991px) {

    .slider-arrow.swiper-button-next,
    .slider-arrow.swiper-button-prev {
        display: none !important
    }
}

.slider-arrow.swiper-button-next:after,
.slider-arrow.swiper-button-prev:after {
    background-image: url(../../../../../../local/templates/angelino.travel/assets/images/arrow-slider.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    height: 16px;
    width: 11px
}

.slider-arrow.swiper-button-prev {
    left: 23px;
    right: auto
}

.slider-arrow.swiper-button-prev:after {
    transform: rotate(180deg)
}

.swiper-initialized .slider-pagination {
    display: flex
}

/* End */


/* Start:/local/templates/angelino.travel/assets/css/instagram-block.css?17724418871310*/
.instagram-block {
    margin: 50px 0
}

.instagram-block__wrap {
    margin: 0 auto;
    max-width: 760px
}

.instagram-block--small {
    border: none;
    padding: 0
}

.instagram-block--small .instagram-block__inner {
    grid-gap: 5px;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr)
}

.instagram-block--small .instagram-block__btn {
    padding: 10px
}

.instagram-block--small .instagram-block__btn img,
.instagram-block--small .instagram-block__btn svg {
    height: 16px;
    width: 16px
}

.instagram-block--small .instagram-block__bottom {
    margin-top: 15px
}

.instagram-block__title {
    margin-bottom: 30px
}

@media (max-width:767px) {
    .instagram-block__title {
        margin-bottom: 16px
    }
}

.instagram-block__inner {
    grid-gap: 24px;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

@media (max-width:767px) {
    .instagram-block__inner {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width:539px) {
    .instagram-block__inner {
        grid-template-columns: repeat(3, 1fr)
    }
}

.instagram-block__item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform .3s
}

@media (max-width:767px) {
    .instagram-block__item:nth-child(1n+4) {
        display: none
    }
}

@media (max-width:539px) {
    .instagram-block__item:nth-child(1n+4) {
        display: none
    }
}

.instagram-block__item:hover {
    transform: scale(1.03)
}

.instagram-block__item img {
    display: block;
    height: auto;
    overflow: hidden;
    width: 100%
}

.instagram-block__bottom {
    margin-top: 41px;
    text-align: center
}

/* End */


/* Start:/local/templates/angelino.travel/assets/css/reviews-block.css?1772441887315*/
.reviews-block {
    margin: 50px 0
}

.reviews-block__title {
    margin-bottom: 12px
}

.reviews-block__details {
    margin-bottom: 28px
}

.reviews-block__items {
    grid-gap: 36px;
    gap: 36px;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

@media (max-width:767px) {
    .reviews-block__items {
        grid-gap: 20px;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr)
    }
}

/* End */


/* Start:/local/templates/angelino.travel/assets/css/review-item.css?17724418871678*/
.review-item {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 32px 22px
}

.review-item__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.review-item__img {
    border-radius: 50%;
    height: 36px;
    margin-right: 20px;
    overflow: hidden;
    width: 36px
}

.review-item__wrap {
    display: flex
}

.review-item__rating {
    margin-bottom: 5px
}

.review-item__rating .rating {
    justify-content: flex-start
}

.review-item__date,
.review-item__name {
    color: var(--color-text-base);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5
}

.review-item__name {
    align-items: center;
    display: flex;
    margin-right: 7px;
    text-decoration: none;
    transition: color .3s
}

.review-item__date {
    color: #8b8b8b
}

.review-item__title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -.36px;
    line-height: 1.2;
    margin-bottom: 14px
}

.review-item__desc {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    font-variant-numeric: lining-nums proportional-nums;
    line-height: 1.8;
    margin-bottom: 17px;
    overflow: hidden
}

.review-item__desc,
.review-item__more {
    color: var(--color-text-base);
    font-family: var(--font-second)
}

.review-item__more {
    cursor: pointer;
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    font-size: 1.4rem;
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 500;
    letter-spacing: -.28px;
    line-height: 1.5;
    text-decoration: none;
    transition: color .3s
}

.review-item__more:hover {
    color: #00aa6c
}

.review-item__icon {
    margin-bottom: -7px;
    margin-right: -6px
}

.review-item__icon img {
    width: 49px
}

.review-item__bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: auto
}

.review-item__footer {
    display: flex;
    justify-content: center;
    margin-top: 50px
}

/* End */
/* /local/templates/angelino.travel/assets/css/wrapper-slider.css?17724418872234 */
/* /local/templates/angelino.travel/assets/css/lounge-card.css?17724418871865 */
/* /local/templates/angelino.travel/assets/css/slider-pagination.css?1772441887957 */
/* /local/templates/angelino.travel/assets/css/instagram-block.css?17724418871310 */
/* /local/templates/angelino.travel/assets/css/reviews-block.css?1772441887315 */
/* /local/templates/angelino.travel/assets/css/review-item.css?17724418871678 */