/* Start:/local/templates/angelino/assets/css/intro.css?17722826804397*/
.intro {
    align-items: center;
    display: flex;
    min-height: 560px;
    position: relative
}

@media (max-width:610px) {
    .intro {
        min-height: 540px
    }
}

@media (max-width:767px) {
    .intro.intro--slider {
        align-items: flex-start
    }

    .intro.intro--slider .intro__content {
        padding-top: 33px
    }
}

.intro.intro--mobile {
    min-height: auto;
    padding-top: 27px
}

@media (max-width:767px) {
    .intro.intro--mobile {
        min-height: 560px
    }
}

@media (max-width:610px) {
    .intro.intro--mobile {
        min-height: 540px
    }
}

.intro.intro--mobile .intro__title {
    color: #000;
    margin: 0
}

@media (max-width:767px) {
    .intro.intro--mobile .intro__title {
        color: #fff;
        font-size: 3rem;
        margin: 40px 0 20px
    }
}

.intro.intro--mobile .intro__content {
    max-width: 886px
}

@media (max-width:767px) {
    .intro.intro--mobile .intro__content {
        max-width: 630px
    }
}

.intro.intro--mobile .intro__breadcrumbs {
    margin-bottom: 20px
}

.intro.intro--mobile .intro__breadcrumbs .breadcrumbs .breadcrumbs__item:after {
    background-color: #c1c1c1
}

@media (max-width:767px) {
    .intro.intro--mobile .intro__breadcrumbs .breadcrumbs .breadcrumbs__item:after {
        background-color: var(--color-background)
    }
}

.intro.intro--mobile .intro__breadcrumbs .breadcrumbs .breadcrumbs__item:last-child .breadcrumbs__link {
    color: #757575;
    text-decoration: none
}

@media (max-width:767px) {
    .intro.intro--mobile .intro__breadcrumbs .breadcrumbs .breadcrumbs__item:last-child .breadcrumbs__link {
        color: var(--color-background);
        -webkit-text-decoration: 1px dashed underline;
        text-decoration: 1px dashed underline;
        text-underline-offset: 5px
    }

    .intro.intro--mobile .intro__breadcrumbs .breadcrumbs .breadcrumbs__item:last-child .breadcrumbs__link:hover {
        color: var(--color-background)
    }
}

.advantages {
    margin: 30px 0 50px
}

@media (max-width:767px) {
    .advantages {
        margin-bottom: 42px
    }
}

@media (max-width:991px) {
    .advantages.advantages--four .container-large {
        max-width: 886px
    }
}

.advantages.advantages--four .advantages__inner {
    grid-template-columns: repeat(4, 1fr)
}

@media (max-width:991px) {
    .advantages.advantages--four .advantages__inner {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width:767px) {
    .advantages.advantages--four .advantages__inner {
        grid-template-columns: repeat(1, 1fr)
    }
}

.advantages.advantages--four .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.advantages.advantages--four .advantages__item-desc {
    height: 100%
}

.advantages .advantages__inner {
    grid-gap: 56px 50px;
    gap: 56px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative
}

@media (max-width:767px) {
    .advantages .advantages__inner {
        grid-template-columns: repeat(1, 1fr)
    }
}

.advantages .advantages__item-head {
    grid-gap: 12px;
    gap: 12px;
    align-items: center;
    display: flex;
    margin-bottom: 17px;
    text-align: center
}

@media (max-width:767px) {
    .advantages .advantages__item-head {
        justify-content: center
    }
}

.advantages .advantages__item-icon {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px
}

.advantages .advantages__item-title {
    border-left: 1px solid #c6c6c6;
    font-feature-settings: "pnum" on, "lnum" on, "salt" on;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    padding-left: 10px
}

.advantages .advantages__item-desc {
    color: var(--color-text-second);
    font-family: var(--font-second);
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    font-variant-numeric: lining-nums proportional-nums
}

.advantages .advantages__item-desc h1,
.advantages .advantages__item-desc h2,
.advantages .advantages__item-desc h3,
.advantages .advantages__item-desc h4,
.advantages .advantages__item-desc ol,
.advantages .advantages__item-desc p,
.advantages .advantages__item-desc ul {
    max-width: 856px;
    padding: 0
}

.advantages .advantages__item-desc p {
    margin: 0 15px 0 0
}

@media (max-width:767px) {
    .advantages .advantages__item-desc {
        text-align: center
    }
}


.intro.intro--mobile .intro__breadcrumbs .breadcrumbs .breadcrumbs__item .breadcrumbs__link {
    color: #c1c1c1
}

@media (max-width:767px) {
    .intro.intro--mobile .intro__breadcrumbs .breadcrumbs .breadcrumbs__item .breadcrumbs__link {
        color: var(--color-background)
    }
}

.intro.intro--mobile .intro__breadcrumbs .breadcrumbs .breadcrumbs__item .breadcrumbs__link:hover {
    color: #757575
}

@media (max-width:767px) {
    .intro.intro--mobile .intro__breadcrumbs .breadcrumbs .breadcrumbs__item .breadcrumbs__link:hover {
        color: var(--main-color-first)
    }
}

.intro.intro--mobile .intro__awards,
.intro.intro--mobile .intro__bg,
.intro.intro--mobile .intro__socials,
.intro.intro--mobile .intro__subtitle {
    display: none
}

@media (max-width:767px) {

    .intro.intro--mobile .intro__awards,
    .intro.intro--mobile .intro__bg,
    .intro.intro--mobile .intro__socials,
    .intro.intro--mobile .intro__subtitle {
        display: block
    }
}

.intro.intro--mobile .intro__container {
    height: auto;
    padding: 27px 15px 20px
}

.intro .intro__cover {
    grid-gap: 29px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 29px;
    position: absolute;
    right: 50%;
    top: -172px;
    transform: translateX(50%);
    z-index: 20
}

@media (max-width:767px) {
    .intro .intro__cover {
        grid-gap: 20px;
        gap: 20px;
        margin-bottom: 28px;
        position: static;
        transform: translateX(0)
    }
}

.intro .intro__icon {
    width: 115px
}

.intro .intro__icon picture img {
    display: block;
    width: 100%
}

.intro .intro__slider {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%
}

@media (max-width:767px) {
    .intro .intro__slider {
        display: flex
    }
}

.intro .intro__slider .intro__slide img {
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.intro .intro__video-bg {
    background-color: rgba(0, 0, 0, .25);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10
}

.intro .intro__video-bg .intro__bg {
    display: none
}

@media (max-width:767px) {
    .intro .intro__video-bg {
        background-color: transparent
    }

    .intro .intro__video-bg .intro__bg {
        display: none
    }
}

.intro .intro__video {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%
}

@media (max-width:767px) {
    .intro .intro__video {
        display: none
    }
}

.intro .intro__socials {
    position: absolute;
    right: 0;
    z-index: 20
}

@media (max-width:991px) {
    .intro .intro__socials {
        display: none
    }
}

.intro .intro__bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.intro .intro__bg img {
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.intro .intro__breadcrumbs .breadcrumbs {
    margin: 0;
    padding-top: 0
}

.intro .intro__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 630px;
    padding: 0 30px;
    position: relative;
    text-align: center;
    z-index: 10
}

.intro .intro__title {
    color: var(--color-background);
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0
}

@media (max-width:991px) {
    .intro .intro__title {
        font-size: 3.6rem
    }
}

.intro .intro__awards {
    transform: translateY(43px)
}

/* End */


/* Start:/local/templates/angelino/assets/css/subintro.css?1772282680764*/
.subintro.container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
    margin-top: -58px;
    position: relative;
    z-index: 10
}

@media (max-width:991px) {
    .subintro.container {
        flex-direction: column;
        margin-bottom: 46px;
        margin-top: -64px
    }
}

.subintro.container .subintro__socials,
.subintro.container .subintro__tourism {
    position: absolute;
    right: 15px
}

@media (max-width:991px) {

    .subintro.container .subintro__socials,
    .subintro.container .subintro__tourism {
        margin-top: 20px;
        position: static
    }
}

.subintro.container .subintro__tourism {
    background-color: var(--color-background);
    left: 0;
    padding: 2.5px 16px;
    right: auto
}

@media (max-width:991px) {
    .subintro.container .subintro__tourism {
        margin-bottom: 15px;
        margin-top: 0
    }
}

.subintro.container .subintro__tourism-link img {
    display: block
}

/* End */


/* Start:/local/templates/angelino/assets/css/tripadvisor-pin.css?1772282680540*/
.tripadvisor-pin {
    color: var(--color-text-base);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-decoration: none
}

.tripadvisor-pin.tripadvisor-pin--gold .tripadvisor-pin__text {
    color: #9B782C
}

.tripadvisor-pin__img {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 114px;
    justify-content: center;
    margin: 0 auto -4px;
    overflow: hidden;
    width: 114px
}

.tripadvisor-pin__img img {
    height: 81px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 87px
}

.tripadvisor-pin__text {
    text-decoration: underline
}

/* End */


/* Start:/local/templates/angelino/assets/css/tl-card.css?17722826802256*/
.tl-card,
.tl-card.swiper-slide {
    border-radius: 10px;
    box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 490px;
    overflow: hidden;
    padding: 49px 35px 19px 28px;
    position: relative;
    text-decoration: none;
    width: 100%
}

.tl-card.hidden,
.tl-card.swiper-slide.hidden {
    display: none
}

@media (max-width:991px) {

    .tl-card.swiper-slide,
    .tl-card.swiper-slide.swiper-slide {
        max-width: none
    }
}

.tl-card.swiper-slide:hover .button-t,
.tl-card:hover .button-t {
    background: linear-gradient(180deg, #9B782C, #9B782C);
    border-color: transparent
}

.tl-card.swiper-slide:hover .tl-card__img,
.tl-card:hover .tl-card__img {
    transform: scale(1.1)
}

.tl-card .tl-card__img,
.tl-card.swiper-slide .tl-card__img {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform .7s;
    width: 100%
}

.tl-card .tl-card__img picture,
.tl-card.swiper-slide .tl-card__img picture {
    display: flex;
    width: 100%
}

.tl-card .tl-card__img img,
.tl-card.swiper-slide .tl-card__img img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.tl-card .tl-card__title,
.tl-card.swiper-slide .tl-card__title {
    font-feature-settings: "pnum" on, "lnum" on, "salt" on;
    color: var(--color-background);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 4px;
    text-align: center;
}

.tl-card .tl-card__days,
.tl-card.swiper-slide .tl-card__days {
    grid-gap: 8px;
    font-feature-settings: "pnum" on, "lnum" on, "salt" on;
    align-items: center;
    color: var(--color-background);
    display: flex;
    font-size: 1.7rem;
    gap: 8px;
    line-height: 1
}

.tl-card .tl-card__bottom,
.tl-card .tl-card__head,
.tl-card.swiper-slide .tl-card__bottom,
.tl-card.swiper-slide .tl-card__head {
    position: relative
}

.tl-card .tl-card__body,
.tl-card.swiper-slide .tl-card__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    text-align: center
}

.tl-card .tl-card__category,
.tl-card.swiper-slide .tl-card__category {
    color: var(--color-background);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 8px
}

.tl-card .tl-card__count,
.tl-card.swiper-slide .tl-card__count {
    color: var(--color-background);
    font-size: 2.1rem;
    font-weight: 500
}

.tl-card .tl-card__btn,
.tl-card.swiper-slide .tl-card__btn {
    bottom: 10px;
    min-width: 130px;
    position: absolute
}

.tl-card .tl-card__btn .button-t,
.tl-card.swiper-slide .tl-card__btn .button-t {
    width: 100%
}

/* End */


/* Start:/local/templates/angelino/assets/css/double-card.css?1772282680204*/
.double-card {
    grid-gap: 40px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0 100px
}

@media (max-width:991px) {
    .double-card {
        grid-gap: 36px;
        gap: 36px;
        grid-template-columns: repeat(1, 1fr)
    }
}

/* End */


/* Start:/local/templates/angelino/assets/css/card-advantage.css?17722826802109*/
.card-advantage {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 10px;
    padding: 30px 0;
    perspective: 600px;
    position: relative;
    text-align: left
}

.card-advantage.is-flipped .card-advantage__wrap {
    transform: rotateY(180deg);
    transition: transform 1.5s .2s
}

.card-advantage:hover {
    outline: none
}

@media (min-width:991px) {
    .card-advantage:hover .card-advantage__wrap {
        transform: rotateY(180deg);
        transition: transform 1.5s .2s
    }
}

.card-advantage:active {
    outline: none
}

.card-advantage__wrap {
    height: auto;
    min-height: 288px;
    transform-style: preserve-3d;
    transition: transform 1.5s .3s
}

.card-advantage__face {
    align-items: flex-start;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    overflow: hidden;
    padding: 40px 24px 29px;
    position: absolute;
    width: 100%
}

.card-advantage__face--back {
    background-color: #0d2f4a;
    height: 100%;
    justify-content: flex-start;
    padding: 25px;
    transform: rotateY(180deg);
    width: 100%
}

.card-advantage__face--back .card-advantage__desc,
.card-advantage__face--back .card-advantage__title {
    text-transform: none
}

.card-advantage__face--back .button-t {
    margin-top: auto;
    min-width: 130px
}

.card-advantage__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    text-align: center
}

.card-advantage__decor {
    left: 15px;
    max-width: 58px;
    position: absolute;
    top: 15px
}

.card-advantage__bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10
}

.card-advantage__bg img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.card-advantage__desc,
.card-advantage__icon,
.card-advantage__img,
.card-advantage__title {
    position: relative
}

.card-advantage__desc,
.card-advantage__title {
    color: var(--color-background);
    font-family: var(--font-main);
    text-align: left;
    text-transform: uppercase
}

.card-advantage__img {
    align-self: center;
    margin-bottom: 43px;
    pointer-events: none
}

.card-advantage__icon {
    margin-bottom: 23px;
    max-width: 48px;
    pointer-events: none
}

.card-advantage__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1
}

.card-advantage__desc {
    font-size: 1.4rem;
    line-height: 1;
    margin-top: 14px
}

/* End */


/* Start:/local/templates/angelino/assets/css/wrapper-slider.css?1772282680611*/
.wrapper-slider {
    margin: 34px 0 79px;
    position: relative
}

.wrapper-slider .wrapper-slider__inner.swiper {
    margin: 0 -10px;
    padding: 0 10px 43px
}

@media (max-width:991px) {
    .wrapper-slider .wrapper-slider__inner.swiper {
        margin: 0 -30px;
        padding: 0 30px 43px
    }
}

@media (max-width:1200px) {
    .wrapper-slider .slider-arrow {
        display: none
    }
}

.wrapper-slider.wrapper-slider--card-advantage {
    margin-top: -30px
}

.wrapper-slider.wrapper-slider--card-advantage .wrapper-slider__inner.swiper {
    padding: 0 10px 13px
}

@media (max-width:991px) {
    .wrapper-slider.wrapper-slider--card-advantage .wrapper-slider__inner.swiper {
        margin: 0 -30px;
        padding: 0 30px 43px
    }
}

/* End */


/* Start:/local/templates/angelino/assets/css/slider-pagination.css?17722826802959*/
.slider-pagination.swiper-pagination {
    grid-gap: 5px;
    bottom: 0 !important;
    display: none;
    gap: 5px;
    justify-content: center
}

.slider-pagination.swiper-pagination .swiper-pagination-bullet {
    background-color: #d9d9d9;
    height: 6px;
    margin: 0 !important;
    opacity: 1;
    width: 6px
}

.slider-pagination.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-text-second)
}

.slider-pagination.swiper-pagination.slider-pagination--invert {
    bottom: 23px !important
}

.slider-pagination.swiper-pagination.slider-pagination--invert .swiper-pagination-bullet {
    background-color: #fff
}

.slider-pagination.swiper-pagination.slider-pagination--invert .swiper-pagination-bullet-active {
    background-color: #a3a3a3
}

.slider-arrow.swiper-button-next,
.slider-arrow.swiper-button-prev {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
    height: 26px;
    right: -57px;
    top: 46%;
    width: 26px
}

@media (max-width:991px) {

    .slider-arrow.swiper-button-next,
    .slider-arrow.swiper-button-prev {
        display: none !important
    }
}

.slider-arrow.swiper-button-next:after,
.slider-arrow.swiper-button-prev:after {
    background-image: url(../../../../../../local/templates/angelino/assets/images/arrow-slider.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 10px;
    width: 6px
}

.slider-arrow.swiper-button-prev {
    left: -57px;
    right: auto
}

.slider-arrow.swiper-button-prev:after {
    transform: rotate(180deg)
}

.slider-arrow-white.swiper-button-next,
.slider-arrow-white.swiper-button-prev {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 13px 0 rgba(159, 167, 177, .1);
    display: flex;
    height: 60px;
    justify-content: center;
    transition: opacity .3s;
    width: 50px
}

@media (max-width:991px) {

    .slider-arrow-white.swiper-button-next,
    .slider-arrow-white.swiper-button-prev {
        height: 48px;
        width: 40px
    }
}

.slider-arrow-white.swiper-button-next:after,
.slider-arrow-white.swiper-button-prev:after {
    content: none
}

.slider-arrow-white.swiper-button-next:before,
.slider-arrow-white.swiper-button-prev:before {
    background-image: url(../../../../../../local/templates/angelino/assets/images/arrow-slider-clothes.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 17px;
    width: 10px
}

@media (max-width:991px) {

    .slider-arrow-white.swiper-button-next:before,
    .slider-arrow-white.swiper-button-prev:before {
        height: 13px;
        width: 8px
    }
}

.slider-arrow-white.swiper-button-next {
    border-radius: 16px 0 0 16px;
    right: 0
}

.slider-arrow-white.swiper-button-prev {
    border-radius: 0 16px 16px 0;
    left: 0
}

.slider-arrow-white.swiper-button-prev:before {
    transform: rotate(180deg)
}

.swiper-initialized .slider-pagination {
    display: flex
}

.swiper-scrollbar {
    background-color: transparent !important
}

.swiper-scrollbar .swiper-scrollbar-drag {
    transition-duration: .2s !important
}

@media (max-width:991px) {
    .swiper-scrollbar {
        left: 30px !important;
        width: calc(100% - 60px) !important
    }
}

.swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #ccc8be;
    cursor: pointer;
    transition: transform, background-color .3s
}

.swiper-scrollbar .swiper-scrollbar-drag.focus,
.swiper-scrollbar .swiper-scrollbar-drag:hover {
    background-color: #9B782C
}

/* End */


/* Start:/local/templates/angelino/assets/css/tabs-slider.css?1772282680788*/
.tabs-slider {
    margin-bottom: 80px;
    padding-bottom: 67px;
    position: relative
}

@media (max-width:991px) {
    .tabs-slider {
        margin-bottom: 70px;
        padding-bottom: 60px
    }
}

.tabs-slider .tabs-slider__btns {
    grid-gap: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 41px;
    overflow: auto
}

@media (max-width:991px) {
    .tabs-slider .tabs-slider__btns {
        justify-content: flex-start;
        margin: 0 -30px 20px;
        padding: 0 30px 10px
    }

    .tabs-slider .tabs-slider__btns.center {
        justify-content: center
    }
}

.tabs-slider .tabs-slider__btns .tab {
    flex-shrink: 0
}

.tabs-slider .tabs-slider__bottom {
    display: flex;
    justify-content: center;
    margin-top: 36px
}

@media (max-width:991px) {
    .tabs-slider .tabs-slider__bottom {
        margin-top: 41px
    }
}

.tabs-slider .tabs-slider__bottom .button {
    display: none
}

.tabs-slider .tabs-slider__bottom .button.show {
    display: flex
}

/* End */


/* Start:/local/templates/angelino/assets/css/tour-card.css?17722826802261*/
.tour-card {
    background-color: var(--color-background);
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(159, 167, 177, .2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 100%
}

.tour-card .tour-card__badge {
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    background-color: #3b3b3b;
    border-radius: 4px;
    color: #b9ab95;
    font-family: var(--font-second);
    font-size: 10px;
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 500;
    letter-spacing: .15em;
    line-height: 1;
    padding: 8.5px 8px 5.5px 7.5px;
    position: absolute;
    right: 11px;
    text-transform: uppercase;
    top: 12px
}

.tour-card:hover .button {
    background-image: linear-gradient(180deg, #9B782C, #9B782C);
    border-color: transparent;
    color: var(--color-background)
}

.tour-card.tour-card--article .tour-card__title {
    margin-bottom: 22px
}

.tour-card.tour-card--article .tour-card__right {
    margin-top: 0
}

.tour-card .tour-card__img {
    flex-shrink: 0;
    height: 216px;
    width: 100%
}

.tour-card .tour-card__img img {
    display: flex;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.tour-card .tour-card__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding: 18px 21px 23px
}

.tour-card .tour-card__top {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 16px
}

.tour-card .tour-card__day,
.tour-card .tour-card__rating {
    color: #7c7c7c;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1
}

.tour-card .tour-card__rating {
    grid-gap: 5px;
    align-items: center;
    display: flex;
    gap: 5px
}

.tour-card .tour-card__title {
    color: var(--color-text-base);
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 17px
}

.tour-card .tour-card__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto
}

.tour-card .tour-card__text {
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    color: #7c7c7c;
    font-family: var(--font-second);
    font-size: 1.4rem;
    font-variant-numeric: lining-nums proportional-nums;
    letter-spacing: -.02rem
}

.tour-card .tour-card__right {
    margin: 21px 7px 0 0
}

.tour-card .tour-card__price {
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    font-family: var(--font-second);
    font-size: 2.5rem;
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 500;
    letter-spacing: -.06rem;
    line-height: 1;
    margin: 3px 0 1px
}

.tour-card .tour-card__price span {
    color: var(--color-text-base)
}

/* End */


/* Start:/local/templates/angelino/assets/css/slider.css?17722826801017*/
.slider.slider--second {
    margin-bottom: 80px
}

.slider .slider__content,
.slider .slider__content.swiper {
    padding-bottom: 39px
}

@media (max-width:991px) {

    .slider .slider__content,
    .slider .slider__content.swiper {
        margin: 0 -30px;
        padding: 0 30px 30px
    }
}

.slider .slider__wrap {
    transition-duration: .2s !important
}

@media (max-width:991px) {
    .slider .slider__wrap {
        transition-duration: 0s !important
    }
}

.slider .slider__slide,
.slider .slider__slide.swiper-slide {
    display: flex;
    height: auto
}

@media (max-width:991px) {
    .slider.slider--tabs {
        margin: 0 -30px
    }
}

.slider.slider--tabs .slider__content,
.slider.slider--tabs .slider__content.swiper {
    margin: 0 -10px;
    padding: 0 10px 39px
}

@media (max-width:991px) {

    .slider.slider--tabs .slider__content,
    .slider.slider--tabs .slider__content.swiper {
        margin: 0;
        padding: 0
    }

    .slider.slider--tabs .slider__wrap.swiper-wrapper {
        padding: 0 30px 30px
    }
}

.slider.slider--tabs .slider__slide {
    display: none
}

@media (max-width:991px) {
    .slider.slider--tabs .slider__slide:last-child {
        margin-right: 60px
    }
}

.slider.slider--tabs .show {
    display: flex
}

/* End */


/* Start:/local/templates/angelino/assets/css/card-edge.css?1772282680468*/
.card-edge {
    height: auto !important;
    min-height: 260px;
    padding: 32px;
    position: relative
}

.card-edge__bg {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.card-edge__bg img {
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.card-edge__text {
    color: var(--color-background);
    font-size: 2rem;
    line-height: 1.1;
    position: relative
}

.card-edge__text img {
    display: block;
    margin-top: 12px
}

.card-edge__icon {
    bottom: 25px;
    display: flex;
    position: absolute;
    right: 25px
}

/* End */


/* Start:/local/templates/angelino/assets/css/achievements.css?17722826802624*/
.achievements {
    margin: 36px 0 70px
}

.achievements.achievements--single .achievements__card:nth-child(2),
.achievements.achievements--single .achievements__card:nth-child(5),
.achievements.achievements--single .achievements__card:nth-child(8) {
    order: 0
}

.achievements.achievements--single .achievements__list {
    grid-gap: 20px;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr)
}

@media (max-width:991px) {
    .achievements.achievements--single .achievements__list .card-achievement {
        grid-gap: 23px;
        flex-direction: column;
        gap: 23px;
        padding: 29.5px 25px 24.5px
    }

    .achievements.achievements--single .achievements__list .card-achievement .card-achievement__icon {
        align-self: flex-start;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content
    }

    .achievements.achievements--single .achievements__list .card-achievement .card-achievement__icon picture {
        width: auto
    }

    .achievements.achievements--single .achievements__list .card-achievement .card-achievement__text {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-top: 15px
    }
}

.achievements.achievements--single .achievements__list .card-achievement .card-achievement__icon--tourism {
    max-width: 167px
}

@media (max-width:991px) {
    .achievements.achievements--single .achievements__list .card-achievement .card-achievement__icon--tourism {
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content
    }
}

.achievements.achievements--single .achievements__list .card-achievement .card-achievement__desc {
    margin-top: 0;
    padding-left: 31px
}

@media (max-width:991px) {
    .achievements.achievements--single .achievements__list .card-achievement .card-achievement__desc {
        border-top: 1px solid #eceae5;
        padding: 24px 0 0
    }

    .achievements.achievements--single .achievements__list .card-achievement .card-achievement__desc:before {
        content: none
    }
}

.achievements.achievements--double .achievements__list {
    grid-gap: 24px;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr)
}

@media (max-width:991px) {
    .achievements.achievements--double .achievements__list {
        grid-gap: 20px;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr)
    }
}

.achievements__list {
    grid-gap: 25px 39px;
    display: grid;
    gap: 25px 39px;
    grid-template-columns: repeat(3, 1fr)
}

@media (max-width:1200px) {
    .achievements__list {
        grid-gap: 20px 25px;
        gap: 20px 25px;
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width:767px) {
    .achievements__list {
        grid-template-columns: repeat(1, 1fr)
    }
}

.achievements__card {
    min-height: 128px
}

@media (max-width:767px) {
    .achievements__card:nth-child(2) {
        order: 9
    }

    .achievements__card:nth-child(5) {
        order: 8
    }

    .achievements__card:nth-child(8) {
        order: 7
    }
}

.achievements__card .tippy-content {
    max-width: 424px;
    padding: 23px 26px
}

@media (max-width:479px) {
    .achievements__card .tippy-content {
        max-width: 350px
    }
}

/* End */


/* Start:/local/templates/angelino/assets/css/card-achievement.css?17722826804604*/
.card-achievement,
.card-achievement.tooltip {
    align-items: center;
    border: 1px solid #eceae5;
    border-radius: 17px;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    padding: 21.5px 13px 16.5px 7px;
    transition: background-color .3s
}

.card-achievement.tooltip:hover,
.card-achievement:hover {
    background-color: #faf8f4;
    box-shadow: 0 1px 5px 0 rgba(159, 167, 177, .2)
}

.card-achievement.tooltip:hover .card-achievement__desc,
.card-achievement:hover .card-achievement__desc {
    color: #6d6a5e
}

.card-achievement.card-achievement--static,
.card-achievement.tooltip.card-achievement--static {
    box-shadow: 0 1px 5px 0 rgba(159, 167, 177, .24)
}

.card-achievement.card-achievement--static .card-achievement__desc:before,
.card-achievement.tooltip.card-achievement--static .card-achievement__desc:before {
    height: 100%
}

.card-achievement.card-achievement--static:hover,
.card-achievement.tooltip.card-achievement--static:hover {
    background-color: #fff;
    cursor: auto
}

.card-achievement.card-achievement--static:hover .card-achievement__desc,
.card-achievement.tooltip.card-achievement--static:hover .card-achievement__desc {
    color: #9B782C
}

.card-achievement .card-achievement[aria-expanded=true],
.card-achievement.tooltip .card-achievement[aria-expanded=true] {
    background-color: #faf8f4;
    box-shadow: 0 1px 5px 0 rgba(159, 167, 177, .2)
}

.card-achievement .card-achievement__icon,
.card-achievement.tooltip .card-achievement__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    max-width: 135px;
    width: 100%
}

.card-achievement .card-achievement__icon picture,
.card-achievement.tooltip .card-achievement__icon picture {
    display: flex;
    height: 85px;
    justify-content: center;
    width: 113px
}

.card-achievement .card-achievement__icon picture img,
.card-achievement.tooltip .card-achievement__icon picture img {
    display: block;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.card-achievement .card-achievement__icon--atta,
.card-achievement .card-achievement__icon--kpap,
.card-achievement .card-achievement__icon--travel,
.card-achievement.tooltip .card-achievement__icon--atta,
.card-achievement.tooltip .card-achievement__icon--kpap,
.card-achievement.tooltip .card-achievement__icon--travel {
    max-width: 167px
}

.card-achievement .card-achievement__icon--travel picture,
.card-achievement.tooltip .card-achievement__icon--travel picture {
    height: 48px;
    width: 132px
}

.card-achievement .card-achievement__icon--corp picture,
.card-achievement.tooltip .card-achievement__icon--corp picture {
    height: 88px
}

.card-achievement .card-achievement__icon--tourism picture,
.card-achievement.tooltip .card-achievement__icon--tourism picture {
    height: 77px
}

.card-achievement .card-achievement__icon--kpap picture,
.card-achievement.tooltip .card-achievement__icon--kpap picture {
    height: 50px
}

.card-achievement .card-achievement__icon--uhuru,
.card-achievement.tooltip .card-achievement__icon--uhuru {
    margin-top: -10px
}

.card-achievement .card-achievement__icon--uhuru picture,
.card-achievement.tooltip .card-achievement__icon--uhuru picture {
    height: 97px;
    width: 84px
}

.card-achievement .card-achievement__icon--atta,
.card-achievement.tooltip .card-achievement__icon--atta {
    margin-top: -15px
}

.card-achievement .card-achievement__icon--trace picture,
.card-achievement.tooltip .card-achievement__icon--trace picture {
    height: 48px
}

.card-achievement .card-achievement__icon--uiaa,
.card-achievement.tooltip .card-achievement__icon--uiaa {
    max-width: 167px
}

.card-achievement .card-achievement__icon--uiaa picture,
.card-achievement.tooltip .card-achievement__icon--uiaa picture {
    height: 110px
}

.card-achievement .card-achievement__desc,
.card-achievement.tooltip .card-achievement__desc {
    color: #9B782C;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    line-height: 1.2;
    margin-top: -8px;
    padding-left: 25px;
    position: relative;
    transition: color .3s
}

.card-achievement .card-achievement__desc:before,
.card-achievement.tooltip .card-achievement__desc:before {
    background-color: #eceae5;
    content: "";
    height: 64px;
    left: 0;
    position: absolute;
    width: 1px
}

.card-achievement .card-achievement__desc a,
.card-achievement.tooltip .card-achievement__desc a {
    color: #000;
    font-weight: 500;
    margin-top: 10px;
    transition: color .3s
}

.card-achievement .card-achievement__desc a:hover,
.card-achievement.tooltip .card-achievement__desc a:hover {
    color: #9B782C
}

.card-achievement__title {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 1.13
}

.card-achievement__text {
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    color: #565349;
    font-family: var(--font-second);
    font-size: 1.6rem;
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 10px
}

/* End */


/* Start:/local/templates/angelino/assets/css/impact.css?17722826801637*/
.impact {
    margin: 34px 0 90px;
    overflow: hidden;
    position: relative
}

.impact__decor {
    border-radius: 20px;
    bottom: 0;
    display: flex;
    overflow: hidden;
    position: absolute;
    width: 100%
}

@media (max-width:991px) {
    .impact__decor {
        left: 50% !important;
        right: auto;
        transform: translateX(-50%)
    }
}

.impact__decor--1 {
    left: 24px;
    max-width: 246px
}

@media (max-width:991px) {
    .impact__decor--1 {
        bottom: auto;
        top: -7px
    }
}

.impact__decor--2 {
    max-width: 263px;
    right: 0
}

@media (max-width:991px) {
    .impact__decor--2 {
        bottom: 0;
        max-width: 205px
    }
}

.impact__wrap {
    align-items: flex-start;
    background-color: #f9f9f7;
    border-radius: 20px;
    display: flex;
    padding: 44px 76px 40px
}

@media (max-width:991px) {
    .impact__wrap {
        align-items: center;
        flex-direction: column;
        padding: 159px 76px 158px
    }
}

.impact__column {
    grid-gap: 42px 20px;
    display: grid;
    gap: 42px 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 68%
}

@media (max-width:991px) {
    .impact__column {
        grid-gap: 40px;
        gap: 40px;
        grid-template-columns: repeat(1, 1fr);
        width: 100%
    }

    .impact__column br {
        display: none
    }
}

.impact__column--width {
    display: flex;
    margin-right: 20px;
    max-width: 206px;
    width: 100%
}

@media (max-width:991px) {
    .impact__column--width {
        justify-content: center;
        margin-bottom: 36px;
        margin-right: 0;
        max-width: 100%
    }
}

.impact__item {
    position: relative;
    z-index: 10
}

@media (max-width:991px) {
    .impact__item {
        text-align: center
    }
}

.impact__count,
.impact__text {
    color: #9B782C
}

.impact__count {
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    font-family: var(--font-second);
    font-size: 2.7rem;
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 500;
    letter-spacing: -.2rem;
    line-height: 1;
    margin-bottom: 11px
}

.impact__text {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase
}

/* End */


/* Start:/local/templates/angelino/assets/css/clients.css?17722826802002*/
.clients {
    margin: 20px 0 92px
}

@media (max-width:991px) {
    .clients {
        margin-bottom: 81px
    }
}

.clients__wrap {
    grid-gap: 56px 20px;
    align-items: center;
    background-color: #f9f9f7;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 56px 20px;
    justify-content: space-between;
    padding: 54px 48px 48px
}

@media (max-width:991px) {
    .clients__wrap {
        grid-gap: 37px 10px;
        gap: 37px 10px;
        justify-content: space-around;
        padding: 35px 30px 48px
    }
}

.clients__logo {
    display: flex
}

.clients__logo--morgan {
    max-width: 170px
}

@media (max-width:991px) {
    .clients__logo--morgan {
        max-width: 133px
    }
}

.clients__logo--spacex {
    margin-top: -9px;
    max-width: 216px
}

@media (max-width:991px) {
    .clients__logo--spacex {
        max-width: 171px
    }
}

.clients__logo--expedia {
    max-width: 151px
}

@media (max-width:991px) {
    .clients__logo--expedia {
        max-width: 133px
    }
}

.clients__logo--microsoft {
    max-width: 146px
}

@media (max-width:991px) {
    .clients__logo--microsoft {
        max-width: 129px
    }
}

.clients__logo--lego {
    max-width: 93px
}

@media (max-width:991px) {
    .clients__logo--lego {
        max-width: 80px
    }
}

.clients__logo--mercado {
    max-width: 167px
}

@media (max-width:991px) {
    .clients__logo--mercado {
        max-width: 143px
    }
}

.clients__logo--united {
    max-width: 150px
}

@media (max-width:991px) {
    .clients__logo--united {
        max-width: 129px
    }
}

.clients__logo--martin {
    max-width: 270px
}

@media (max-width:991px) {
    .clients__logo--martin {
        max-width: 227px
    }
}

.clients__logo--santander {
    max-width: 220px
}

@media (max-width:991px) {
    .clients__logo--santander {
        max-width: 147px
    }
}

.clients__logo--alhabet {
    max-width: 132px
}

@media (max-width:991px) {
    .clients__logo--alhabet {
        max-width: 95px
    }
}

.clients__logo--nasa {
    max-width: 100px
}

@media (max-width:991px) {
    .clients__logo--nasa {
        max-width: 78px
    }
}

.clients__logo--volvo {
    max-width: 134px
}

@media (max-width:991px) {
    .clients__logo--volvo {
        max-width: 102px
    }
}

.clients__logo--merck {
    max-width: 116px
}

@media (max-width:991px) {
    .clients__logo--merck {
        max-width: 98px
    }
}

.clients__logo--rabo {
    max-width: 138px
}

@media (max-width:991px) {
    .clients__logo--rabo {
        max-width: 112px
    }
}

.clients__logo--lloyds {
    max-width: 127px
}

@media (max-width:991px) {
    .clients__logo--lloyds {
        max-width: 106px
    }
}

/* End */


/* Start:/local/templates/angelino/assets/css/reviews.css?17722826801457*/
.reviews {
    margin: 20px 0 50px
}

@media (max-width:991px) {
    .reviews {
        margin-bottom: 40px
    }
}

.reviews .reviews__wrap,
.reviews .reviews__wrap.swiper {
    margin: 0 -10px;
    padding: 10px 10px 20px
}

@media (max-width:767px) {

    .reviews .reviews__wrap,
    .reviews .reviews__wrap.swiper {
        padding-bottom: 46px
    }
}

.reviews .reviews__content,
.reviews .reviews__content.swiper-wrapper {
    grid-gap: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr)
}

@media (max-width:767px) {

    .reviews .reviews__content,
    .reviews .reviews__content.swiper-wrapper {
        grid-gap: 0;
        display: flex;
        gap: 0
    }
}

.reviews .buttons-wrap {
    margin-bottom: 0
}

@media (max-width:991px) {
    .reviews .buttons-wrap {
        margin-top: 31px
    }
}

.reviews.reviews--triple .reviews__content,
.reviews.reviews--triple .reviews__content.swiper-wrapper {
    grid-gap: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr)
}

@media (max-width:767px) {
    .reviews.reviews--triple.not-slider .reviews__wrap {
        padding: 10px 30px 20px
    }
}

@media (max-width:991px) {
    .reviews.reviews--triple .reviews__content {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width:767px) {
    .reviews.reviews--triple .reviews__content {
        grid-template-columns: repeat(1, 1fr)
    }
}

@media (max-width:991px) {
    .reviews.reviews--triple .reviews__card {
        display: flex;
        justify-content: center
    }

    .reviews.reviews--triple .reviews__card:last-child {
        grid-column: 1/-1
    }

    .reviews.reviews--triple .reviews__card .card-review {
        max-width: 450px
    }

    .reviews.reviews--triple .reviews__content.swiper-wrapper {
        grid-gap: 0;
        display: flex;
        gap: 0
    }
}

/* End */


/* Start:/local/templates/angelino/assets/css/card-review.css?17722826802278*/
.card-review {
    max-width: 412px;
    position: relative
}

@media (max-width:767px) {
    .card-review {
        max-width: 100%
    }
}

.card-review__wrap {
    background-color: var(--color-background);
    border-radius: 20px;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, .1);
    padding: 20px 20px 24px
}

@media (max-width:991px) {
    .card-review__wrap {
        padding-bottom: 22px
    }
}

.card-review__imgs {
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px
}

@media (max-width:991px) {
    .card-review__imgs {
        grid-gap: 17px;
        gap: 17px;
        margin-bottom: 36px
    }
}

.card-review__img {
    border-radius: 10px;
    display: flex;
    max-height: 176px;
    overflow: hidden
}

.card-review__img picture {
    display: flex
}

@media (max-width:767px) {
    .card-review__img picture {
        max-height: 141px;
        width: 100%
    }

    .card-review__img picture img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%
    }
}

.card-review__top {
    display: flex;
    margin-bottom: 19px
}

.card-review__cover {
    display: flex
}

.card-review__photo {
    border-radius: 50%;
    height: 36px;
    margin-right: 20px;
    overflow: hidden;
    width: 36px
}

.card-review__rating {
    margin-bottom: 5px
}

.card-review__rating .rating {
    justify-content: flex-start
}

.card-review__date,
.card-review__name {
    color: var(--color-text-base);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5
}

.card-review__name {
    align-items: center;
    display: flex;
    letter-spacing: .06rem;
    margin-right: 4px;
    text-decoration: none;
    transition: color .3s
}

.card-review__date {
    color: #9B782C
}

.card-review__more {
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    color: var(--color-text-base);
    cursor: pointer;
    font-family: var(--font-second);
    font-size: 1.4rem;
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 500;
    letter-spacing: -.02rem;
    line-height: 1.5;
    text-decoration: none;
    transition: color .3s
}

.card-review__more:hover {
    color: #00aa6c
}

.card-review__icon {
    margin-bottom: -7px;
    margin-right: -6px
}

.card-review__icon img {
    width: 49px
}

.card-review__title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -.04rem;
    margin-bottom: 7px
}

.card-review__text {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #6d6a5e;
    display: -webkit-box;
    font-size: 1.5rem;
    line-height: 1.5;
    overflow: hidden
}

.card-review__text::-webkit-scrollbar {
    height: 2px;
    width: 5px
}

.card-review__text::-webkit-scrollbar-thumb {
    background-color: #ccc8be;
    border-radius: 5px
}

.card-review__bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 23px
}

/* End */


/* Start:/local/templates/angelino/assets/css/trip-rating.css?17722826801030*/
.trip-rating {
    grid-gap: 6px;
    align-items: center;
    color: #9B782C;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 6px;
    justify-content: center
}

.trip-rating.trip-rating--page {
    grid-gap: 10px;
    gap: 10px;
    margin: 20px 0
}

.trip-rating.trip-rating--page .trip-rating__star {
    grid-gap: 12px;
    gap: 12px
}

.trip-rating.trip-rating--page .trip-rating__star:before {
    height: 20px;
    width: 21px
}

.trip-rating .trip-rating__star {
    grid-gap: 3px;
    align-items: center;
    display: flex;
    gap: 3px
}

.trip-rating .trip-rating__star:before {
    background-image: url(../../../../../../local/templates/angelino/assets/images/cr-star.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 14px;
    margin-top: -4px;
    width: 15px
}

.trip-rating a {
    color: #9B782C;
    font-size: 1.5rem;
    font-weight: 500;
    transition: color .3s
}

.trip-rating a:hover {
    color: #83745e
}

.trip-rating.trip-rating--stars {
    grid-gap: 13px;
    gap: 13px
}

.trip-rating.trip-rating--stars .trip-rating__star:before {
    background-image: url(../../../../../../local/templates/angelino/assets/images/rating-stars.svg);
    width: 90px
}

.trip-rating.trip-rating--stars span {
    margin-left: -9px
}

/* End */


/* Start:/local/templates/angelino/assets/css/video-block.css?17722826803046*/
.video-block {
    margin: 50px 0;
    overflow: hidden;
    padding-bottom: 54px;
    position: relative
}

.video-block:last-child {
    margin: 50px 0 0
}

@media (max-width:850px) {
    .video-block {
        display: block;
        padding-bottom: 31px
    }
}

.video-block .video-block__iframe {
    border-radius: 20px;
    height: 600px;
    margin-right: 0;
    overflow: hidden;
    position: relative;
    width: 100%
}

.video-block .video-block__iframe:hover .video-block__preview:before {
    opacity: .2
}

@media (max-width:767px) {
    .video-block .video-block__iframe {
        border-radius: 10px
    }
}

@media (max-width:850px) {
    .video-block .video-block__iframe {
        height: 310px;
        width: 100%
    }
}

@media (max-width:580px) {
    .video-block .video-block__iframe {
        height: 210px
    }
}

@media (max-width:400px) {
    .video-block .video-block__iframe {
        height: 180px
    }
}

.video-block .video-block__iframe iframe {
    height: 100%;
    width: 100%
}

.video-block .video-block__preview {
    align-items: center;
    background-image: url(../../../../../../local/templates/angelino/assets/images/video-kilimanjaro.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.video-block .video-block__preview:before {
    background-color: #000;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity .3s;
    width: 100%
}

.video-block .video-block__preview svg {
    z-index: 10
}

@media (max-width:991px) {
    .video-block .video-block__preview svg {
        height: 34px;
        width: 47px
    }
}

.video-block .video-block__preview picture {
    height: 100%;
    position: absolute;
    width: 100%
}

.video-block .video-block__preview picture img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.video-block .video-block__desc {
    padding-top: 20px
}

.video-block .video-block__title {
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    font-family: var(--font-second);
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px
}

.video-block .video-block__detail {
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    color: var(--color-text-second);
    font-family: var(--font-second);
    font-size: 1.3rem;
    font-variant-numeric: lining-nums proportional-nums;
    line-height: 1.5
}

.video-block .video-block__bottom {
    display: flex;
    justify-content: center
}

.video-block .video-block__btn {
    grid-gap: 7px;
    align-items: center;
    color: #9B782C;
    cursor: pointer;
    display: flex;
    font-size: 1.4rem;
    gap: 7px;
    margin-top: 57px;
    text-transform: uppercase;
    transition: color .3s
}

@media (max-width:991px) {
    .video-block .video-block__btn {
        margin-top: 34px
    }
}

.video-block .video-block__btn svg path {
    transition: fill .3s
}

.video-block .video-block__btn:hover {
    color: #000
}

.video-block .video-block__btn:hover svg path {
    fill: #000
}

.video-block.video-block--load .video-block__btn {
    opacity: 0;
    visibility: hidden
}

.video-block.video-block--load .video-block__preview {
    display: none
}

.video-block--second {
    padding-bottom: 0
}

.video-block--second .video-block__iframe {
    height: 482px
}

@media (max-width:767px) {
    .video-block--second .video-block__iframe {
        height: 300px
    }
}

@media (max-width:480px) {
    .video-block--second .video-block__iframe {
        height: 211px
    }
}

@media (max-width:400px) {
    .video-block--second .video-block__iframe {
        height: 180px
    }
}

/* End */


/* Start:/local/templates/angelino/assets/css/instagram-block.css?17722826801189*/
.instagram-block {
    margin: 50px 0 70px
}

.instagram-block__wrap {
    margin: 0 auto;
    max-width: 760px
}

.instagram-block--small {
    border: none;
    padding: 0
}

.instagram-block--small .instagram-block__inner {
    grid-gap: 5px;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr)
}

.instagram-block--small .instagram-block__btn {
    padding: 10px
}

.instagram-block--small .instagram-block__btn img,
.instagram-block--small .instagram-block__btn svg {
    height: 16px;
    width: 16px
}

.instagram-block--small .instagram-block__bottom {
    margin-top: 15px
}

.instagram-block__title {
    margin-bottom: 30px
}

@media (max-width:767px) {
    .instagram-block__title {
        margin-bottom: 16px
    }
}

.instagram-block__inner {
    grid-gap: 21px;
    display: grid;
    gap: 21px;
    grid-template-columns: repeat(6, 1fr)
}

@media (max-width:767px) {
    .instagram-block__inner {
        grid-gap: 20px;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 18px
    }
}

.instagram-block__item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform .3s
}

@media (max-width:767px) {
    .instagram-block__item:nth-child(1n+5) {
        display: none
    }
}

.instagram-block__item:hover {
    transform: scale(1.03)
}

.instagram-block__item img {
    display: block;
    height: auto;
    overflow: hidden;
    width: 100%
}

.instagram-block__bottom {
    margin-top: 41px;
    text-align: center
}

/* End */


/* Start:/local/templates/angelino/assets/css/youtube-block.css?1772282680690*/
.youtube-block {
    margin: 50px 0 70px
}

.youtube-block:last-child {
    margin-bottom: 0
}

.youtube-block .youtube-block__title {
    margin-bottom: 45px
}

.youtube-block .youtube-block__title img {
    height: 30px;
    width: 30px
}

@media (max-width:767px) {
    .youtube-block .youtube-block__title {
        margin-bottom: 27px
    }
}

.youtube-block .youtube-block__wrap.swiper-wrapper {
    grid-gap: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr)
}

@media (max-width:767px) {
    .youtube-block .youtube-block__wrap.swiper-wrapper {
        grid-gap: 0;
        display: flex;
        gap: 0;
        padding-bottom: 30px
    }

    .youtube-block .youtube-block__wrap.swiper-wrapper .youtube-item {
        margin: 0;
        max-width: none
    }
}

.youtube-block .youtube-block__bottom {
    margin-top: 41px;
    text-align: center
}

/* End */


/* Start:/local/templates/angelino/assets/css/youtube-item.css?17722826801658*/
.youtube-item {
    display: flex;
    flex-direction: column;
    height: auto;
    text-decoration: none
}

@media (max-width:767px) {
    .youtube-item {
        margin: 0 auto;
        max-width: 270px
    }
}

.youtube-item:hover .youtube-item__img:before {
    background-color: rgba(0, 0, 0, .2)
}

.youtube-item:hover .youtube-item__img-icon {
    transform: scale(1.15)
}

.youtube-item__img {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-bottom: 30px;
    max-height: 200px;
    overflow: hidden;
    position: relative
}

@media (max-width:767px) {
    .youtube-item__img {
        max-height: 225px
    }
}

.youtube-item__img:before {
    background-color: transparent;
    content: "";
    height: 100%;
    position: absolute;
    transition: background .5s;
    width: 100%
}

.youtube-item__img img:not(.youtube-item__img-icon) {
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width:991px) {
    .youtube-item__img img:not(.youtube-item__img-icon) {
        width: 100%
    }
}

.youtube-item__img-icon {
    position: absolute;
    transition: transform .5s
}

@media (max-width:991px) {
    .youtube-item__img-icon {
        height: 34px;
        width: 47px
    }
}

.youtube-item__name {
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    color: #1e1e1e;
    font-family: var(--font-second);
    font-size: 1.5rem;
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 16px;
    transition: color .3s
}

.youtube-item__detail {
    font-feature-settings: "salt" on;
    font-feature-settings: "salt" on, lining-nums proportional-nums;
    color: #8b8b8b;
    font-family: var(--font-second);
    font-size: 1.3rem;
    font-variant-numeric: lining-nums proportional-nums;
    line-height: 1.58;
    margin-top: auto
}

.youtube-item--single .youtube-item__img {
    margin-bottom: 20px
}

.youtube-item--single .youtube-item__name {
    font-size: 14px
}

/* End */
/* /local/templates/angelino/assets/css/intro.css?17722826804397 */
/* /local/templates/angelino/assets/css/subintro.css?1772282680764 */
/* /local/templates/angelino/assets/css/tripadvisor-pin.css?1772282680540 */
/* /local/templates/angelino/assets/css/tl-card.css?17722826802256 */
/* /local/templates/angelino/assets/css/double-card.css?1772282680204 */
/* /local/templates/angelino/assets/css/card-advantage.css?17722826802109 */
/* /local/templates/angelino/assets/css/wrapper-slider.css?1772282680611 */
/* /local/templates/angelino/assets/css/slider-pagination.css?17722826802959 */
/* /local/templates/angelino/assets/css/tabs-slider.css?1772282680788 */
/* /local/templates/angelino/assets/css/tour-card.css?17722826802261 */
/* /local/templates/angelino/assets/css/slider.css?17722826801017 */
/* /local/templates/angelino/assets/css/card-edge.css?1772282680468 */
/* /local/templates/angelino/assets/css/achievements.css?17722826802624 */
/* /local/templates/angelino/assets/css/card-achievement.css?17722826804604 */
/* /local/templates/angelino/assets/css/impact.css?17722826801637 */
/* /local/templates/angelino/assets/css/clients.css?17722826802002 */
/* /local/templates/angelino/assets/css/reviews.css?17722826801457 */
/* /local/templates/angelino/assets/css/card-review.css?17722826802278 */
/* /local/templates/angelino/assets/css/trip-rating.css?17722826801030 */
/* /local/templates/angelino/assets/css/video-block.css?17722826803046 */
/* /local/templates/angelino/assets/css/instagram-block.css?17722826801189 */
/* /local/templates/angelino/assets/css/youtube-block.css?1772282680690 */
/* /local/templates/angelino/assets/css/youtube-item.css?17722826801658 */